* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right top,#ff0f7b, #f89b29);
}

.containerPass{
  width: 50%;
  height: auto;
  padding: 25px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 400px;
  box-shadow: 0 10px 25px -10px rgba(0,0,0,.5);
  background: #fff;
}

.containerPass p {
  font-size: 1.9rem;
  font-family: pacifico;
}

.containerPass .password {
  width: 90%;
  margin: 50px 0 0 0;
  padding: 10px 15px;
  border: 2px solid #9e9e9e;
  outline: none;
  font-size: 1.2rem;
  font-family: Josefin Sans;
}


.containerPass .password:focus {
  border: 2px solid #f89b29;
}

.containerPass .btn-generate, .btn-copy {
  width: 90%;
  margin: 15px 0;
  padding: 10px 0;
  font-size: 1.2rem;
  font-family: Josefin Sans;
  border: none;
  outline: none;
  background-color: #f89b29;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.containerPass .btn-generate:hover {
  box-shadow: 0 15px 25px -10px #f89b29;
}

.containerPass .btn-copy:hover {
  box-shadow: 0 15px 25px -10px #f89b29;
}
